html{                         /* 余白指定 */
  background-color: #333333;     /* 背景色指定 */
  background-size: contain;
}

.bg-img {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 50px;
}

.meigen-btn {
  display: block;
  opacity: 0.6;
  background-color: #999999;
  color: #111111;
  letter-spacing: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  width: 250px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 60px;
}

.maxim-text {
  text-align: center;
  color: #DDDDDD;
  letter-spacing: 0.45em;
}

.auther-text {
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
}

.meigen-text {
  font-style: italic;
  line-height: 2.4;
}
